/* Variables */
:root {
  --backgroundColor: #505050;
  --secondBackground: #333;
  --thirdBackground: #404040;
  --fourthBackground: #585858;
  --fifthBackground: #383838;
  --sixthBackground: #444;
  --greenBackground: #126e51;
  --mainTextColor: #9c9c9c;
  --secondryTextColor: #ddd;
  --thirdTextColor: #a7a7a7;
  --fourthTextColor: #b5b5b5;
  --fifthTextColor: #f0f0f0;
  --numColor: #ccc;
  --tableHeadColor: #cecece;
  --hoverColor: #fff;
  --secondHoverColor: #26ffbe;
  --thirdHoverColor: #636363;
  --mainBorderColor: #5d5d5d;
  --secondryBorderColor: #545454;
  --whiteTextColor: #e4e4e4;
  --yellowEffect: #ffdf1b;
  --dataRedColor: rgb(234, 38, 54);
  --dataWhiteColor: rgb(240, 240, 240);
  --colorTransition: color 0.2s;
  --opacityTransition: opacity 0.2s;
  --side-barBorder: 1px solid #474747;
}
/* Global Rules */
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Open Sans", sans-serif;
}
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
::-webkit-scrollbar {
  width: 15px;
  border-left: 1px solid var(--secondBackground);
}
::-webkit-scrollbar-track {
  background-color: var(--fourthBackground);
  border-left: 1px solid var(--secondBackground);
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #87878780;
  border: 4px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}

body {
  background-color: var(--backgroundColor);
  scrollbar-width: auto;
  scrollbar-color: #87878780 var(--fourthBackground);
}
html,
body {
  height: 100vh;
  overflow-y: auto;
}
ul {
  list-style: none;
}
.container {
  padding-inline: 1.5rem;
  margin-inline: auto;
}
.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(9, minmax(5rem, 1fr));
  gap: 1rem;
}
.main-content__fav {
  position: relative;
}
.main-content__fav img {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}
.fav-symbol img {
  width: initial;
  height: initial;
}
.main-content__fav__active {
  position: absolute;
  top: 40%;
  left: 50%;
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -o-transition: var(--opacityTransition);
  -moz-transition: var(--opacityTransition);
  -webkit-transition: var(--opacityTransition);
  transition: var(--opacityTransition);
}
.main-content__fav:hover .main-content__fav__active {
  opacity: 1;
}
/* header style */
/* Top nav style */
.top-nav {
  background-color: var(--secondBackground);
  color: var(--mainTextColor);
  font-size: 1.2rem;
  line-height: 1.3rem;
  width: 100%;
  padding-block: 1.5rem;
  flex-wrap: wrap;
}
.top-nav__menu,
.top-nav__settings {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 1rem;
}
.top-nav__menu li,
.top-nav__settings li {
  cursor: pointer;
  white-space: nowrap;
  -o-transition: var(--colorTransition);
  -moz-transition: var(--colorTransition);
  -webkit-transition: var(--colorTransition);
  transition: var(--colorTransition);
}
.top-nav__menu li:hover,
.top-nav__settings li:hover {
  color: var(--hoverColor);
}
/* Main nav style */
.main-nav {
  padding-block: 2rem;
  background-color: var(--greenBackground);
  z-index: 2;
  position: relative;
}
.main-nav__burger,
.main-nav__alt-logo {
  display: none;
}
.main-nav__burger i {
  color: var(--secondHoverColor);
  font-size: 1.4rem;
}
.main-nav__burger span {
  font-size: 1.4rem;
  margin-left: 0.6rem;
  color: var(--whiteTextColor);
}
.main-nav__burger:hover i {
  color: var(--whiteTextColor);
}
.main-nav__burger:hover span {
  color: var(--secondHoverColor);
}
.main-nav__content,
.main-nav__settings {
  display: flex;
  gap: 2.5rem;
}
.main-nav__content {
  font-size: 1.4rem;
  color: var(--whiteTextColor);
}
.main-nav__content li:nth-of-type(2) {
  color: var(--hoverColor);
  position: relative;
}
.main-nav__content li:nth-of-type(2)::after {
  content: "";
  position: absolute;
  background-color: var(--yellowEffect);
  width: 100%;
  height: 0.2rem;
  bottom: -2.5rem;
  left: 0;
}
.main-nav__settings {
  align-items: center;
}
.main-nav__search {
  color: var(--hoverColor);
}
.main-nav__join button,
.main-nav__login button {
  padding: 0.5rem 2rem;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: var(--yellowEffect);
  color: var(--secondBackground);
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
}
.main-nav__burger *,
.main-nav__content li,
.main-nav__settings .main-nav__search i,
.main-nav__settings .main-nav__login button {
  -o-transition: var(--colorTransition);
  -moz-transition: var(--colorTransition);
  -webkit-transition: var(--colorTransition);
  transition: var(--colorTransition);
}
.main-nav__join button {
  -o-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.main-nav__join button:hover {
  background-color: var(--whiteTextColor);
}
.main-nav__login button {
  background-color: transparent;
  color: var(--hoverColor);
}
.main-nav__content li,
.main-nav__search,
.main-nav__burger {
  cursor: pointer;
}
.main-nav__content li:first-of-type:hover,
.main-nav__search:hover,
.main-nav__login button:hover {
  color: var(--secondHoverColor);
}
@media (max-width: 964px) {
  .main-nav__burger {
    display: block;
  }
  .main-nav__content {
    order: 2;
  }
  .main-nav__logo {
    order: 3;
  }
  .main-nav__settings {
    order: 4;
  }
  .main-nav__content li:first-of-type,
  .main-nav__search {
    display: none;
  }
  .main-nav__content li:nth-of-type(2):hover {
    color: var(--secondHoverColor);
  }
  .main-nav__join button {
    background-color: transparent;
    color: var(--hoverColor);
  }
  .main-nav__join button:hover {
    background-color: transparent;
    color: var(--secondHoverColor);
  }
}
@media (max-width: 782px) {
  .main-nav__logo > img:first-child {
    display: none;
  }
  .main-nav__alt-logo {
    display: block;
  }
  .main-nav__settings {
    gap: 1.8rem;
  }
  .main-nav__join button,
  .main-nav__login button {
    padding: 0;
  }
  .main-nav__content li:nth-of-type(2)::after {
    bottom: -2.8rem;
  }
}
/* main content style */
/* main content nav and head style */
.content {
  position: relative;
}
.main-content {
  width: 70%;
  height: 83vh;
  overflow-y: scroll;
}
@media (max-width: 964px) {
  .main-content {
    width: 100%;
    overflow-y: initial;
  }
}
.main-content__nav {
  width: 100%;
  background-color: var(--secondBackground);
  border-bottom: 2px solid #137a5a;
}
.main-content__icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-block: 1.5rem;
  gap: 1.5rem;
  overflow-x: auto;
}

.main-content__icons li {
  cursor: pointer;
  position: relative;
  text-align: center;
}

.main-content__icons li > img {
  margin-bottom: 0.6rem;
}
.main-content__active,
.main-content__activeball {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -o-transition: var(--opacityTransition);
  -moz-transition: var(--opacityTransition);
  -webkit-transition: var(--opacityTransition);
  transition: var(--opacityTransition);
  opacity: 0;
}
.main-content__activeball {
  opacity: 1;
}
.main-content__icons li:hover .main-content__active {
  opacity: 1;
}
.main-content__icons p {
  color: var(--mainTextColor);
  font-size: 1.2rem;
  line-height: 1.7rem;
  -o-transition: var(--colorTransition);
  -moz-transition: var(--colorTransition);
  -webkit-transition: var(--colorTransition);
  transition: var(--colorTransition);
}
.main-content__activeball + p {
  color: var(--hoverColor);
  position: relative;
}
.main-content__activeball + p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  left: 0;
  bottom: -1.5rem;
  background-color: #1db787;
}
.main-content__icons li:hover p {
  color: var(--hoverColor);
}
.main-content__head {
  background-color: var(--thirdBackground);
  padding: 1.5rem;
  color: var(--hoverColor);
}
.main-content__left-head,
.main-content__right-head {
  gap: 1.5rem;
}
.main-content__left-head {
  position: relative;
}
.main-content__left-head h2 {
  font-size: 2rem;
  font-weight: bold;
}
.main-content__right-head {
  position: relative;
}
.main-content__right-head input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  opacity: 0;
}
.main-content__right-head input ~ .fulltime-menu {
  position: absolute;
  top: 220%;
  left: -50%;
  background-color: var(--whiteTextColor);
  border: 1px solid var(--mainBorderColor);
  border-radius: 0.4rem;
  z-index: 1;
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -o-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.main-content__right-head input ~ .fulltime-menu li {
  font-size: 1.5rem;
  padding: 1.5rem 1rem;
  border-top: 1px solid #c3c3c3;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--secondBackground);
  -o-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.main-content__right-head input ~ .fulltime-menu li:first-of-type {
  background-color: var(--hoverColor);
  color: var(--greenBackground);
}
.main-content__right-head input ~ .fulltime-menu li:hover {
  background-color: var(--hoverColor);
}
.main-content__right-head input:checked ~ .fulltime-menu {
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.main-content__active-statistics {
  position: absolute;
  top: 50%;
  right: 0;
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  -o-transition: var(--opacityTransition);
  -moz-transition: var(--opacityTransition);
  -webkit-transition: var(--opacityTransition);
  transition: var(--opacityTransition);
}
.main-content__statistics,
.main-content__active-statistics {
  cursor: pointer;
  width: 1.4rem;
  height: 1.4rem;
}
.main-content__statistics:hover + .main-content__active-statistics,
.main-content__active-statistics:hover {
  opacity: 1;
}
.main-content__right-head {
  cursor: pointer;
}
.main-content__right-head p,
.main-content__right-head i {
  color: var(--fifthTextColor);
  font-size: 1.3rem;
}
/* main content body style */
.main-content__body {
  margin-bottom: 3rem;
}
.main-content__championship {
  overflow-x: auto;
}
.main-content__championship__head {
  background-color: var(--fourthBackground);
  color: var(--tableHeadColor);
  padding-block: 1.5rem;
  font-size: 1.4rem;
  font-weight: bold;
}
.main-content__championship__head *,
.main-content__championship__body {
  text-align: center;
  align-items: center;
}
.main-content__championship__head__text {
  grid-column: 2 / 6;
}
.main-content__championship__body {
  padding-block: 2rem;
  line-height: 2rem;
  font-size: 1.3rem;
  border-bottom: 1px solid var(--mainBorderColor);
}
.main-content__championship__body__text {
  grid-column: 2 / 6;
  border-right-width: 1px;
  border-right-color: var(--mainBorderColor);
  border-right-style: solid;
  padding-right: 2rem;
  color: var(--secondryTextColor);
  cursor: pointer;
}
.main-content__championship__body__data,
.main-content__championship__body__name,
.main-content__championship__body__insights {
  -o-transition: var(--colorTransition);
  -moz-transition: var(--colorTransition);
  -webkit-transition: var(--colorTransition);
  transition: var(--colorTransition);
}
.main-content__championship__body__text:hover
  .main-content__championship__body__data,
.main-content__championship__body__text:hover
  .main-content__championship__body__name,
.main-content__championship__body__text:hover
  .main-content__championship__body__insights {
  color: var(--hoverColor);
}
.main-content__championship__body__name p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 10rem;
}
.main-content__championship__body__num {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  font-size: 1.4rem;
  border-radius: 0.2rem;
  color: var(--yellowEffect);
  -o-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.main-content__championship__body__num:nth-of-type(5) {
  padding-right: 1rem;
  border-right-width: 1px;
  border-right-color: var(--mainBorderColor);
  border-right-style: solid;
}
.main-content__championship__body__num:hover {
  background-color: var(--thirdHoverColor);
}
.main-content > .text {
  display: none;
}
@media (max-width: 964px) {
  .main-content > .text {
    display: block;
  }
  .main-content > .text .text__body {
    display: flex;
  }
  .main-content > .text .features .text__body__item {
    padding: unset;
    gap: unset;
  }
}
@media (max-width: 782px) {
  .main-content > .text .text__body {
    flex-wrap: wrap;
  }
}
/* Games section */
.games {
  border-bottom: 1px solid var(--secondryBorderColor);
  padding-bottom: 3rem;
  background-color: var(--sixthBackground);
}
.games .container {
  padding-right: 0;
}
.games__wrapper {
  border-top: 1px solid #367a65;
  border-bottom: 1px solid #367a65;
  background-color: var(--sixthBackground);
  padding-block: 1.5rem;
}
.games__wrapper h2 {
  padding: 2rem 0;
  font-size: 1.4rem;
  color: #58d7af;
}
.games__posters {
  display: flex;
  gap: 1rem;
  padding-bottom: 3rem;
  width: 100%;
  overflow-x: auto;
}
.games__item {
  position: relative;
  min-width: 10rem;
  width: 15%;
  height: 10rem;
}
.games__background,
.games__overlay,
.games__gradiant {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
}
.games__gradiant {
  background-image: linear-gradient(
    0deg,
    var(--sixthBackground) 0,
    var(--sixthBackground) 3%,
    rgba(68, 68, 68, 0.61) 50%,
    rgba(68, 68, 68, 0.3)
  );
}
.games__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--fourthTextColor);
}
.games__background {
  background-size: cover;
  opacity: 0.8;
  -o-transition: var(--opacityTransition);
  -moz-transition: var(--opacityTransition);
  -webkit-transition: var(--opacityTransition);
  transition: var(--opacityTransition);
}
.games__item:hover .games__background {
  opacity: 1;
}
.games__item:hover .games__title {
  color: #d4d4d4;
}
.games__overlay {
  background-size: contain;
}
.games__background.one {
  background-image: url(../assets/games-section/blackjack_background.jpg);
}
.games__overlay.one {
  background-image: url(../assets/games-section/blackjack_overlay.png);
}
.games__background.two {
  background-image: url(../assets/games-section/superMegaUltraWheel_background.jpg);
}
.games__overlay.two {
  background-image: url(../assets/games-section/superMegaUltraWheel_overlay.png);
}
.games__background.three {
  background-image: url(../assets/games-section/bookOfHorus_background.jpg);
}
.games__overlay.three {
  background-image: url(../assets/games-section/bookOfHorus_overlay.png);
}
.games__background.four {
  background-image: url(../assets/games-section/europeanRoulette_background.jpg);
}
.games__overlay.four {
  background-image: url(../assets/games-section/europeanRoulette_overlay.png);
}
.games__background.five {
  background-image: url(../assets/games-section/8immortals_background.jpg);
}
.games__overlay.five {
  background-image: url(../assets/games-section/8immortals_overlay.png);
}
.games__background.six {
  background-image: url(../assets/games-section/atomic7s_background.jpg);
}
.games__overlay.six {
  background-image: url(../assets/games-section/atomic7s_overlay.png);
}
/* footer */
.main-content__footer .container:first-child {
  display: flex;
  justify-content: space-around;
  background-color: var(--sixthBackground);
  padding: 2.5rem;
  justify-content: space-around;
  border-bottom: 1px solid var(--secondryBorderColor);
}
.main-content__footer h2 {
  font-size: 1.4rem;
  color: var(--secondryTextColor);
  margin-bottom: 2rem;
  line-height: 4rem;
}
@media (max-width: 782px) {
  .main-content__footer .container {
    flex-direction: column;
  }
  .main-content__footer .container ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 2rem;
  }
}
.main-content__footer .footer__help li,
.main-content__footer .footer__forms li,
.main-content__footer .footer__settings li {
  font-size: 1.3rem;
  color: var(--fourthTextColor);
  cursor: pointer;
  margin-bottom: 2rem;
  -o-transition: var(--colorTransition);
  -moz-transition: var(--colorTransition);
  -webkit-transition: var(--colorTransition);
  transition: var(--colorTransition);
}
.main-content__footer .footer__help li:hover,
.main-content__footer .footer__forms li:hover,
.main-content__footer .footer__settings li:hover {
  color: var(--fifthTextColor);
}
.info__sponsers {
  display: flex;
  gap: 2rem;
  max-width: 800px;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
}
.info__text {
  display: flex;
  padding-left: 2rem;
  max-width: 800px;
  color: var(--fourthTextColor);
}
.info__text__left {
  width: 68%;
  padding-right: 7rem;
  max-width: 800px;
}
.info__text__right {
  width: 30%;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
}
.info__text__left *,
.info__text__right *,
.info__policy * {
  margin-bottom: 2rem;
}
.info__text__left p:first-child {
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: 1rem;
  color: var(--secondryTextColor);
}
.info__text__left .logo-poster ~ p {
  font-size: 1.2rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
}
.info__text__right li {
  font-size: 1.4rem;
  cursor: pointer;
}
.info__text__right li:hover {
  color: var(--fifthTextColor);
}
.info__policy {
  color: var(--fourthTextColor);
  font-size: 1.4rem;
  padding: 2rem;
  border-bottom: 1px solid var(--secondryBorderColor);
}
.info__policy .cookies {
  color: var(--secondryTextColor);
  font-weight: bold;
  cursor: pointer;
}
.info__policy .cookies:hover {
  color: var(--hoverColor);
}
.info__policy .privacy {
  color: var(--secondryTextColor);
  cursor: pointer;
}
.info__policy .privacy:hover {
  color: var(--hoverColor);
}
/* Side bar style */
.side-bar {
  position: fixed;
  right: 0;
  top: 16.1vh;
  width: 30%;
  height: 83vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--fifthBackground);
  z-index: 1;
}
@media (max-width: 964px) {
  .side-bar {
    display: none;
  }
}
.side-bar__result {
  padding-block: 2rem;
  gap: 2rem;
  border-bottom: var(--side-barBorder);
  margin-bottom: 1rem;
}
.side-bar__result h2 {
  color: #e4e4e4;
  font-size: 1.4rem;
}
.side-bar__result .result__num {
  color: var(--yellowEffect);
  font-size: 1.9rem;
  font-weight: bold;
  position: relative;
}
.side-bar__result .result__num div {
  width: calc(100% + 0.9rem);
  height: 0.3rem;
  position: absolute;
  bottom: -2.2rem;
}
.side-bar__result .result__num .first {
  left: 0;
  background-color: var(--dataRedColor);
}
.side-bar__result .result__num .second {
  right: 0;
  background-color: var(--dataWhiteColor);
}
.side-bar__feild {
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}
.side-bar__feild img {
  max-width: 100%;
  height: 100%;
  filter: brightness(80%) contrast(80%);
}
.side-bar__time {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  z-index: 1;
  background-color: rgba(22, 80, 49, 0.7);
  border-radius: 0.4rem;
  color: #12e096;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.side-bar__details {
  font-size: 1.2rem;
  padding-inline: 1.5rem;
  margin-bottom: 2.5rem;
  cursor: pointer;
  color: var(--thirdTextColor);
}
.side-bar__details p:hover {
  color: var(--whiteTextColor);
}
.side-bar__data {
  margin-bottom: 3rem;
  padding-bottom: 4rem;
  border-bottom: var(--side-barBorder);
}
.side-bar__data__nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1.5rem;
  border-bottom: var(--side-barBorder);
  color: var(--thirdTextColor);
  margin-bottom: 1.5rem;
}
.side-bar__data__nav li {
  cursor: pointer;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  -o-transition: var(--colorTransition);
  -moz-transition: var(--colorTransition);
  -webkit-transition: var(--colorTransition);
  transition: var(--colorTransition);
}
.side-bar__data__nav li:hover {
  color: var(--whiteTextColor);
}
.side-bar__data__nav li:first-of-type {
  color: var(--whiteTextColor);
  position: relative;
}
.side-bar__data__nav li:first-of-type::after {
  content: "";
  width: 100%;
  height: 0.3rem;
  position: absolute;
  left: 0;
  bottom: -2.5rem;
  background-color: #2ec193;
}
.side-bar__data__nums {
  gap: 2rem;
  margin-bottom: 1.5rem;
}
.side-bar__data__nums .s-one {
  border: 0.9rem solid var(--dataRedColor);
  -o-transform: rotate(-46deg);
  -ms-transform: rotate(-46deg);
  -moz-transform: rotate(-46deg);
  -webkit-transform: rotate(-46deg);
  transform: rotate(-46deg);
}
.side-bar__data__nums .s-two {
  border: 0.9rem solid var(--dataWhiteColor);
  -o-transform: rotate(134deg);
  -ms-transform: rotate(134deg);
  -moz-transform: rotate(134deg);
  -webkit-transform: rotate(134deg);
  transform: rotate(134deg);
}
.side-bar__data__nums .s-one,
.side-bar__data__nums .s-two {
  border-left-color: transparent;
  border-top-color: transparent;
  border-radius: 0.9rem;
}
.side-bar__data__nums .num {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--numColor);
}
.side-bar__data__nums .sperator {
  font-size: 1.2rem;
  color: var(--fourthTextColor);
}
.side-bar__data__analysis {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
.side-bar__data__analysis .data-item > h3 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--fourthTextColor);
}
.side-bar__data__analysis .data-item__data {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.side-bar__data__analysis .data-item__data .num {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--numColor);
}
.side-bar__data__analysis .circle {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  position: relative;
}
.side-bar__data__analysis .circle .left,
.side-bar__data__analysis .circle .right {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0.5rem solid;
  border-radius: 50%;
  top: 0;
}
.side-bar__data__analysis .circle .left {
  border-color: transparent transparent var(--dataRedColor) var(--dataRedColor);
  left: 0;
}
.side-bar__data__analysis .circle .right {
  border-color: var(--dataWhiteColor) var(--dataWhiteColor) transparent
    transparent;
  right: 0;
}
.side-bar__data__analysis .circle .circle-icon {
  width: 100%;
  height: 100%;
}
.side-bar__data__analysis .circle {
  -o-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}
.side-bar__data__analysis .circle img {
  -o-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  -moz-transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}
.side-bar__data__results {
  margin-bottom: 2rem;
}
.side-bar__data__results .poster {
  margin-bottom: 1rem;
}
.side-bar__data__results .results__item p {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--numColor);
}
.side-bar__data__results .target {
  gap: 1rem;
}
.side-bar__data__results .target .shots-num {
  color: var(--thirdTextColor);
  font-weight: 600;
  font-size: 1.4rem;
}
.side-bar__data__results .target .shots-progress p {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--fourthTextColor);
  margin-bottom: 0.5rem;
}
.side-bar__data__results .target .shots-progress .progress,
.side-bar__data__results .target .shots-progress .s-progress {
  gap: 0.2rem;
  margin-bottom: 0.5rem;
}
.side-bar__data__results .target .shots-progress .progress > div,
.side-bar__data__results .target .shots-progress .s-progress > div {
  width: 50%;
  height: 0.3rem;
}
.side-bar__data__results .target .shots-progress .progress .one,
.side-bar__data__results .target .shots-progress .s-progress .one {
  background-color: var(--dataRedColor);
  border-radius: 0.3rem 0 0 0.3rem;
}
.side-bar__data__results .target .shots-progress .progress .two,
.side-bar__data__results .target .shots-progress .s-progress .two {
  background-color: var(--dataWhiteColor);
  border-radius: 0 0.3rem 0.3rem 0;
}
.side-bar__data__results .target .shots-progress .s-progress {
  width: 50%;
  margin: auto;
}
.side-bar__data__more button {
  display: flex;
  align-items: center;
  margin: 1rem auto;
  gap: 0.4rem;
  border: none;
  outline: none;
  padding: 1rem 1.3rem;
  border-radius: 1.2rem;
  background-color: #303030;
  cursor: pointer;
  font-size: 1.2rem;
  color: #c3c3c3;
  -o-transition: var(--colorTransition);
  -moz-transition: var(--colorTransition);
  -webkit-transition: var(--colorTransition);
  transition: var(--colorTransition);
}
.side-bar__data__more button:hover {
  color: var(--fifthTextColor);
}
/* Side bar text style */
.text__title {
  padding-left: 0.5rem;
  display: flex;
  gap: 1rem;
  cursor: pointer;
  margin-bottom: 2.5rem;
}
.text__title__icon {
  position: relative;
}
.text__title__icon img {
  width: 1.7rem;
  max-width: 1.7rem;
  height: 1.7rem;
  max-height: 1.7rem;
}
.text__title__icon .active {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -o-transition: var(--opacityTransition);
  -moz-transition: var(--opacityTransition);
  -webkit-transition: var(--opacityTransition);
  transition: var(--opacityTransition);
}
.text__title > h2 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #58d7af;
  letter-spacing: 0.1rem;
  -o-transition: var(--colorTransition);
  -moz-transition: var(--colorTransition);
  -webkit-transition: var(--colorTransition);
  transition: var(--colorTransition);
}
.text__title:hover .text__title__icon .active {
  opacity: 1;
}
.text__title:hover > h2 {
  color: var(--fifthTextColor);
}
.text__body__item {
  cursor: pointer;
  margin-bottom: 2.5rem;
}
.text__body__item dt {
  font-size: 1.4rem;
  font-weight: bold;
  color: #c3c3c3;
  margin-bottom: 0.5rem;
  -o-transition: var(--colorTransition);
  -moz-transition: var(--colorTransition);
  -webkit-transition: var(--colorTransition);
  transition: var(--colorTransition);
}
.text__body__item dd {
  font-size: 1.3rem;
  color: var(--thirdTextColor);
  margin-bottom: 1rem;
  -o-transition: var(--colorTransition);
  -moz-transition: var(--colorTransition);
  -webkit-transition: var(--colorTransition);
  transition: var(--colorTransition);
}
.text__body__item:hover dt,
.text__body__item:hover dd {
  color: var(--whiteTextColor);
}
.features .text__body__item {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  gap: 2rem;
}
.text__body__poster img {
  width: 6rem;
  max-width: 6rem;
  height: 6rem;
  max-height: 6rem;
}
